@font-face {
    font-family: 'MyFont';
    src: url("./easyops.woff") format("woff"),
         url("./easyops.woff2") format("woff2");
    font-style: normal;
    font-weight: 600;
}

.hello {
    font-family: 'MyFont';
    color: red;
}